/Loboard.xcodeproj/xcuserdata/lamacaroine.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.idea
*.cbp

cmake-build-debug
CMakeFiles
*.cmake
CMakeCache.txt
Makefile

.vs
Loboard/out
Loboard/Testing

*/lb
